* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 300px;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("/src/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 750px) {
  .container-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.board {
  background-image: url("/src/assets/board.jpg");
  position: relative;
  width: 700px;
  height: 700px;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 1100px) {
  .board {
    width: calc(90vw - 250px);
    height: calc(90vw - 300px);
  }
}

@media (max-width: 750px) {
  .board {
    width: 99vw;
    height: 99vw;
  }
}

.board-inner {
  width: 89.71428%;
  height: 89.71428%;
  -webkit-transform: translate(-1px, -1.5px);
          transform: translate(-1px, -1.5px);
}

.board.reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.white, .black {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  cursor: pointer;
}

.white img, .black img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.active {
  background-color: rgba(37, 179, 47, 0.5);
}

.field {
  width: 12.5%;
  height: 12.5%;
  position: absolute;
}

.field img {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.to-move {
  cursor: pointer;
}

.to-move::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  width: 12.5%;
  height: 12.5%;
  background-color: transparent;
  border-radius: 50%;
  opacity: .5;
}

.to-move::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 15%);
  margin: 0 auto;
  width: 30%;
  height: 30%;
  background-color: red;
  border-radius: 50%;
  opacity: .5;
}

.to-move:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.to-move:hover::after {
  background-color: transparent;
}

.line {
  width: 95%;
  height: 3px;
  background-color: #6e3b3b;
  margin: 25px auto;
}

.game-info {
  height: 300px;
  border-bottom: 2px solid #6e3b3b;
  overflow: auto;
  padding-bottom: 25px;
}

.game-info-h2 {
  text-align: center;
}

.game-info::-webkit-scrollbar {
  background-color: #ac3f21;
}

.game-info::-webkit-scrollbar-thumb {
  background-color: #be6a15;
}

@media (max-width: 750px) {
  .game-info {
    height: auto;
    border-bottom: none;
  }
}

.last-move {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(228, 240, 0, 0.3);
}

.danger::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  top: 28%;
  left: 25%;
  z-index: -1;
  opacity: .5;
  background-color: red;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 14px 21px red;
  box-shadow: 0px 0px 14px 21px red;
}

.select-counter-to-promote {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  z-index: 20;
  width: 12.5%;
  height: 50%;
}

.counter-to-promote {
  width: 100%;
  height: 100%;
  background-color: #adadad;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter-to-promote img {
  width: 80%;
  height: 80%;
}

.counter-to-promote:hover {
  border-radius: 0;
  background-color: #ffd35c;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.counter-to-promote:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.promotion-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 229, 227, 0.7);
  z-index: 1;
}

.invisible {
  display: none;
}

.info-wrapper {
  width: 304px;
  margin-left: 30px;
  background-color: #f3cf7a;
  border: 2px solid #6e3b3b;
  overflow: auto;
}

@media (max-width: 1100px) {
  .info-wrapper {
    width: 250px;
    height: calc(90vw - 300px);
  }
}

@media (max-width: 750px) {
  .info-wrapper {
    border-top: 30px solid #6e3b3b;
    margin-left: 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    height: auto;
  }
}

.pgn-block {
  height: 378px;
}

.pgn-text {
  height: 300px;
  border: 2px solid black;
  width: 90%;
  margin: 0 auto;
  padding: 8px;
  font-size: 16px;
  border-radius: 12px;
  overflow: auto;
}

.btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #6e3b3b;
  color: #fefefe;
  border: 1px solid black;
  min-width: 140px;
  height: 35px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 17px;
  -webkit-box-shadow: 0px 7px 0px #ac3f21;
          box-shadow: 0px 7px 0px #ac3f21;
}

.btn:hover {
  -webkit-box-shadow: 0 7px 0 #00823F;
          box-shadow: 0 7px 0 #00823F;
}

.btn:active {
  -webkit-box-shadow: 0 3px 0 #00823F;
          box-shadow: 0 3px 0 #00823F;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.move-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  height: 40px;
}

.turn-colour {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
}

.turn-colour.black-colour {
  background-color: black;
  border: 1px solid white;
}

h2 {
  text-align: center;
}

.info-mode {
  position: absolute;
  width: 130px;
  height: 30px;
  background-color: yellow;
  top: 0;
  left: 0;
}

.input-wrapper {
  display: block;
  margin-top: 20px;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}

.input-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-wrapper input:checked ~ span {
  background-color: #ac3f21;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.input-wrapper span {
  position: absolute;
  top: 0;
  left: 10px;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #f3cf7a;
  border: 1px solid #6e3b3b;
}

.check-colour, .mini, .mini span, .check-colour h3, .select-depth select, .select-depth h3 {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  -webkit-transition: opacity .25s, font-size .5s .25s, margin .5s .25s, padding .5s .25s;
  transition: opacity .25s, font-size .5s .25s, margin .5s .25s, padding .5s .25s;
}

.shown.check-colour {
  opacity: 1;
  position: relative;
}

.shown.check-colour h3 {
  font-size: 18px;
  padding-left: 15px;
  margin: 6px 0;
  opacity: 1;
}

.shown .mini {
  margin: 8px 0;
  padding-left: 40px;
  font-size: 14px;
  opacity: 1;
}

.shown .mini span {
  width: 18px;
  height: 18px;
  left: 16px;
  opacity: 1;
}

.game-mode h2 {
  margin: 0;
}

.change-team-alert {
  position: absolute;
  width: 115px;
  height: 66px;
  left: 80px;
  background-color: #6e3b3b;
  bottom: 0;
  top: 25px;
  border-radius: 8px;
  border: 2px solid #be6a15;
  color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6px;
  -webkit-transition: .3s opacity ease-in-out;
  transition: .3s opacity ease-in-out;
}

.change-team-alert p {
  font-size: 14px;
  margin: 0;
}

.change-team-alert::after {
  content: "!";
  position: absolute;
  font-size: 80px;
  right: -35px;
  color: #6e3b3b;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 750px) {
  .change-team-alert {
    left: 0;
  }
}

.hidden {
  opacity: 0;
  z-index: -10;
}

.reverse .result-of-game {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.result-of-game {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  width: 250px;
  height: 150px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  background-color: #6e3b3b;
  color: #fefefe;
  z-index: 5;
  top: calc(50% - 75px);
  left: calc(50% - 125px);
}

.result-of-game h1 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 25px;
}

.none {
  display: none;
}

.btn2 {
  width: 80%;
  cursor: pointer;
  display: block;
  border: none;
  background-color: #f3cf7a;
}

.shown .select-depth {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shown .select-depth h2 {
  font-size: 18px;
  margin-right: 10px;
  padding-left: 15px;
}

.shown .select-depth select {
  background-color: #be6a15;
  width: 45px;
  color: #fefefe;
  border-radius: 5px;
  opacity: 1;
  font-size: initial;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */